name: PR Checks

on: [pull_request]

jobs:
    check-licenses:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4
            - name: Check for disallowed licenses
              uses: EmbarkStudios/cargo-deny-action@v2

    rust-tests:
        strategy:
            matrix:
                os: [ubuntu-latest, windows-latest, macos-latest]
        runs-on: ${{ matrix.os }}

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4
            - name: Run Tests
              uses: clechasseur/rs-cargo@v3
              with:
                  command: test

    clippy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4
            - name: Run Clippy
              uses: clechasseur/rs-cargo@v3
              with:
                  command: clippy

    system-tests:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4
            - name: Setup Rust Toolchain
              uses: actions-rust-lang/setup-rust-toolchain@v1
            - name: Run System Tests
              run: |
                chmod +x ./system_tests/test.sh
                ./system_tests/test.sh
